---
import TopNav from "../components/TopNav";
import MenuNav from "../components/MenuNav";
import { apiThvli } from "../utils/thvli";
const { title } = Astro.props;

const menus = await apiThvli(fetch, "/menu/web-menu");
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main>
        <TopNav />
        <MenuNav menus={menus} />
        <slot />
    </main>
</body>
</html>